.container {
  margin: 0;
  background-color: aqua;
}
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid rgb(255, 0, 0);
}
.backBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 15px 15px;
  background-color: #33b249;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-style: none;
  z-index: 2;
  transition: 0.2s all;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.backBtn:hover {
  transform: scale(1.05);
}
.upBtn,
.downBtn,
.rightBtn,
.leftBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
}
.upBtn {
  bottom: 70px;
  left: 70px;
}
.downBtn {
  bottom: 15px;
  left: 70px;
  transform: rotate(180deg);
}
.rightBtn {
  bottom: 15px;
  left: 125px;
  transform: rotate(90deg);
}
.leftBtn {
  bottom: 15px;
  left: 15px;
  transform: rotate(-90deg);
}
@media only screen and (min-width: 768px) {
  .upBtn,
  .downBtn,
  .rightBtn,
  .leftBtn {
    display: none;
  }
}
